<%= turbo_stream.replace "sign_up_errors" do %>
  <div id="sign_up_errors" class="flash-message-container" data-controller="flash">
    <% if @registrations_error_message.present? %>
      <div class="flash-message text-neutral-content">
        <%= simple_format(@registrations_error_message) %>
      </div>
    <% end %>
  </div>
<% end %>