<div data-controller="intro" data-intro-delay-value="500">
  <h1 class="hidden fade-in-top text-neutral-content font-bold text-3xl text-center mt-20 mb-2" data-intro-target="element">
    Welcome to Fishingram
  </h1>
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg text-center mb-4" data-intro-target="element">
    さぁ記録しよう、より手軽に。
  </p>
  
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg mb-3 flex items-center justify-center" data-intro-target="element">
    <i class="fas fa-lightbulb text-yellow-500 mr-2"></i>Fishingramは手軽に釣果を記録することができるサービスです。
  </p>
  
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg mt-8 mb-1" data-intro-target="element">
    主な機能
  </p>
  
  <hr class="hidden line-grow border-t border-neutral-content mb-4" data-intro-target="element">
  
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg mb-4 flex items-center justify-center" data-intro-target="element">
    <i class="fas fa-camera text-blue-500 mr-2"></i>魚の写真と一緒にサイズや釣れたレンジを簡単に記録できます。
  </p>
  
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg mb-4 flex items-center justify-center" data-intro-target="element">
    <i class="fas fa-book text-green-500 mr-2"></i>自分しか見れない日記機能で、手軽に釣行の振り返りができます。
  </p>
  
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg mb-4 flex items-center justify-center" data-intro-target="element">
    <i class="fas fa-map-marker-alt text-red-500 mr-2"></i>位置情報機能を使えば、釣れた場所まで記録が可能です。
  </p>

  <hr class="hidden line-grow border-t border-neutral-content mb-4" data-intro-target="element">
  
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg mt-8 mb-4 flex items-center justify-center" data-intro-target="element">
    <i class="fas fa-lightbulb text-yellow-500 mr-2"></i>下のRecordボタンから記録用のフォーマットを見ることができます。
  </p>
  
  <p class="hidden fade-in-bottom text-neutral-content font-bold text-lg mb-4 flex items-center justify-center" data-intro-target="element">
    <i class="fas fa-lightbulb text-yellow-500 mr-2"></i>まずはAllボタンから、みんなの釣果を覗いてみましょう。
  </p>
</div>